.sectionAbout {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #6c63ff;
}
.__content {
  border-radius: 5px;
  position: relative;
  max-width: 600px;
  height: 570px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding: 40px 70px;
  margin-right: 100px;
  background: rgb(255, 255, 255);
}
.__content h2 {
  position: relative;
  font-size: 2em;
  color: #6c63ff;
  padding-bottom: 10px;
}
.__content h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 80px;
  height: 4px;
  background: #6c63ff;
}
.__content p {
  padding-top: 10px;
  font-size: 1.2em;
  color: #333;
  text-align: justify;
}
.__content p span {
  padding-top: 10px;
  font-size: 1em;
  color: #6c63ff;
  text-align: justify;
}
.__content a {
  display: inline-block;
  position: absolute;
  bottom: 30px;
  left: 70px;
  padding: 15px 30px;
  background: #fff;
  color: #6c63ff;
  border-radius: 30px;
  font-size: 1.1rem;
  font-weight: 500;
  text-decoration: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.__content a:hover {
  transition: 0.2s;
  transform: scale(0.95);
  background: #6b63ff71;
}
.__content .square {
  position: absolute;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  animation: animate 10s linear infinite;
  animation-delay: calc(-1s * var(--i));
}
@keyframes animate {
  0%,
  100% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(30px);
  }
}
.__content ._square {
  position: absolute;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  animation: animate2 10s linear infinite;
  animation-delay: calc(-1s * var(--i));
}
@keyframes animate2 {
  0%,
  100% {
    transform: translateX(-30px);
  }
  50% {
    transform: translateX(30px);
  }
}
.__content .square:nth-child(1) {
  top: -50px;
  right: -60px;
  width: 100px;
  height: 100px;
}
.__content .square:nth-child(2) {
  top: 150px;
  left: -100px;
  width: 120px;
  height: 120px;
  z-index: 2;
}
.__content .square:nth-child(3) {
  bottom: 50px;
  right: -60px;
  width: 120px;
  height: 120px;
  z-index: 2;
}
.__content .square:nth-child(4) {
  bottom: -80px;
  left: 100px;
  width: 50px;
  height: 50px;
}
.__content .square:nth-child(5) {
  left: -140px;
  top: -30;
  width: 70px;
  height: 70px;
}
.__content .square:nth-child(6) {
  left: -240px;
  bottom: -30px;
  width: 30px;
  height: 30px;
}
.__content .square:nth-child(7) {
  right: -900px;
  width: 70px;
  height: 70px;
}
.__content .square:nth-child(8) {
  right: -800px;
  top: 0;
  width: 30px;
  height: 70px;
}
.__content .square:nth-child(9) {
  bottom: -100px;
  right: -900px;
  width: 200px;
  height: 150px;
}
.__content .square:nth-child(10) {
  bottom: -200px;
  right: -500px;
  width: 200px;
  height: 100px;
}
.__content ._square:nth-child(11) {
  top: -150px;
  left: 200px;
  width: 80px;
  height: 180px;
  z-index: 2;
}
.__content ._square:nth-child(12) {
  left: -140px;
  bottom: -30px;
  width: 100px;
  height: 70px;
}
.__content ._square:nth-child(13) {
  bottom: -150px;
  right: 300px;
  width: 150px;
  height: 100px;
}
.contentResum{
  position: relative;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  background: rgb(255, 255, 255);
  border-radius: 5px;
 
}

